<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
  </head>
  <body>
    <header><%- include("../views/includes/nav.ejs") %></header>
    <main>
      <div id="content">
        <div class="form-container">
          <form action="/register" method="post" autocomplete="off">
            <label for="name"
              >Organization Name<br /><input name="name" type="text"
            /></label>
            <br />
            <label for="orgId"
              >Organization ID<br /><input name="orgId" type="text"
            /></label>
            <br />
            <label for="password"
              >Password<br /><input name="password" type="password"
            /></label>
            <br />
            <label for="confirmPassword"
              >Confirm Password<br /><input
                name="confirmPassword"
                type="password"
            /></label>
            <br />
            <input type="hidden" name="_csrf" value="<%=csrfToken %>" />
            <button class="btn" type="submit">Register</button>
          </form>
        </div>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
