<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/main/styles.css" />
    <link rel="stylesheet" href="/forms/forms.css" />
    <title><%= pageTitle %></title>
  </head>
  <body>
    <header><%- include("../views/includes/nav.ejs") %></header>
    <main>
      <div id="content">
        <div class="form-container">
          <form action="/register" method="post" autocomplete="off">
            <div class="form-control">
              <label for="name">Organization Name</label>
              <input name="name" type="text" />
            </div>
            <div class="form-control">
              <label for="orgId">Organization ID</label>
              <input name="orgId" type="text" />
            </div>
            <div class="form-control">
              <label for="password">Password</label>
              <input name="password" type="password" />
            </div>
            <div class="form-control">
              <label for="confirmPassword">Confirm Password</label>
              <input name="confirmPassword" type="password" />
            </div>
            <input type="hidden" name="_csrf" value="<%=csrfToken %>" />
            <button class="btn" type="submit">Register</button>
          </form>
        </div>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
